@media only screen and (min-width: 0px) and (max-width: 600px) {
  .container {
    width: 480px;
    margin: auto;
  }
  /* nav bar */
  .logo{
    margin-top: 10px;
  }
  .logo img {
    padding: 0 0 0 0;
    width: 70px;
  
  }
  nav ul {
    margin: 0;
    padding: 0 0 15px 0;
  }
  nav ul li {
    
    padding-right: 8px;
  }
  nav ul li a {
  
    font-size: 16px;
    font-weight: 400px;
    padding: 0 0 0 0;
  }
  /* about */
  .about-section {
    padding: 80px 0 0 0;
  }
  .about-section h1 {
    font-size: 50px;
  }
  .about-section p {
    font-size: 18px;
  }
  .image-section img {
    padding: 20px 0 0 0;
    max-width: 100%;
  }
  .coloum {
    width: 100%;
  }
  .Box-content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 720px;
    margin: auto;

  }
  .logo {
    margin-top: 15px;
  }
  .logo img {
    padding: 0 0 0 0;
  }
  nav ul {
    margin: 0;
    padding: 0 0 15px 0;
  }

  nav ul li {

    padding-right: 8px;
  }

  nav ul li a {

    font-size: 22px;
    font-weight: 400;
    padding: 0 0 0 0;
  }
  .about-section {
    padding: 80px 0 0 0;
  }
  .about-section h1 {
    font-size: 50px;
  }
  .about-section p {
    font-size: 18px;
  }
  .image-section img {
    padding: 20px 0 0 0;
    max-width: 100%;
  }
  .coloum {
    width: 100%;
  }
  .Box-content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {

  .logo img {
  padding-left: 100%;
  padding-top: 20%;
  align-items: center;
}
  nav ul li a {
    
  font-size: 22px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 600;
}
  .about-section {
    padding: 80px 0 0 0;
  }
  .image-section img {
  padding: 20px 0 0 0;
  max-width: 100%;
}
}
