@media only screen and (max-width: 600px) {
  .container {
      width: 480px;
      margin: auto;
  }
  /* nav bar */
  nav {
    line-height: 35px;
    padding: 25px 0;
    max-width: 600px;
  }
  .logo {
    margin-left: 10px;
  }
  .logo img {
    display:block;
    align-items: center;
    padding: 0 0 0 0;
    
  }
  nav ul {
    float: right;
    padding: 0 0 0 0;
    margin-right: 10px;
  }
  nav ul li a {
      font-size: 16px;
      font-weight: 400px;
      padding: 5px 5px;
    }
}
/* about section */
main {
  margin-left: 0;
}
.about-section {
  padding: 87px 0 0 0;

}
.about-section h1 {
  font-size: 50px;

}
.about-section p {
  font-size: 20px;
  padding: 30px 0 10px 0;
}
.image-section img {
  padding: 0 0 0 0;
  max-width: 100%;
}
.coloum {
  width: 100%;

}
.right-text{
  padding: 0 0 0 0;
}
.feature {
  padding: 10px 0 10px 0;
}
.coloum h1{
  font-size: 35px;
  text-align: center;
}
.coloum p {
  font-size: 20px;
  text-align: center;
}
.Box-content {
  flex-direction: column;
}